- provide(:title, 'Sign up')
%h1 Sign up
.row
  .span6.offset3
    = simple_form_for(@user, :html => {:class => 'form-vertical' }) do |f|      
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation, label: 'Confirmation'
      = f.button :submit, 'Create my account', class: "btn btn-large btn-primary"
